body {
  background-color: #f5f5f7;
}


.navbar-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}


.navbar .nav-link {
  font-weight: 500;
  opacity: 0.9;
}

.navbar .nav-link:hover {
  opacity: 1;
}


main {
  padding-bottom: 3rem;
}
